<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
<center>
    <h1>Welcome to Restaurant Reserver!</h1>
    <img src="/application/logo.png"></img>
    <br>
    <br>
    <br>
    <button style = "background-color:lime;"><h3><a href="">Customer Login</a></h3></button><br>
    <br>
    <button style = "background-color:lime;"><h3><a href="">Admin Login</a></h3></button><br>
    <br>
    <button style = "background-color:lime;"><h3><a href="{{ url_for('register') }}">New User? Register Here!</a></h3></button><br>
    <br>
</center>
</body>

</html>