<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Add Booking</title>
  </head>
  <body
    style="
      background-image: url('https://i.ibb.co/bWyJbXf/bg-1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    "
  >
  <nav class="navbar navbar-expand-lg navbar-light background-color: #e3f2fd;">
    <img src="https://i.ibb.co/G7wq73p/logo2.jpg" alt="applogo" style="width: 150px;height: 60px;"></img>
    <span class="navbar-brand" style="color: red"
      >Restaurant Reserver</span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('userHome', currentId=user.LoginId)}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('newBooking', currentId=user.LoginId) }}">New Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Account: {{ user.Name }} (Manage)</a>
        </li>

        <a class="btn btn-outline-primary btn-sm" type="button" href="{{ url_for('homePage') }}">Log Out</a>
      </ul>
  </nav>
  <Center>
      Make a new reservation:

      <div class='form'>
        <form action="{{ url_for('addBooking', currentId=user.LoginId) }}" method="POST">
            {{ form.description.label }} {{ form.description }}<br>
            <br>
            {{ form.date.label }} {{ form.date }}<br>
            <br>
            {{ form.time.label }} {{ form.time }}<br>
            <br>
            {{ form.adults.label }} {{ form.adults }}<br>
            <br>
            {{ form.children.label }} {{ form.children }}<br>
            <br>
            {{ form.requests.label }} {{ form.requests }}<br>
            <br>
            <button type="button" class="btn btn-outline-primary btn-lg">
                {{ form.submit }}
            </button>

        </form>

    </div>
  </Center>
</body>
</html>
